#calculator{
    margin:auto;
    margin-top: 80px;
    width:370px;
    padding: 20px;
    border:1px solid rgb(190, 190, 190);
    border-radius:15px 15px 7px 7px;
    background-image:linear-gradient(to bottom right,rgb(29, 85, 105),lightblue);
    box-shadow: 4px 4px rgb(95, 179, 207);
}
#main{                      
    display: flex;    
    flex-wrap: wrap;
    justify-content: center;
}
input{
    margin:5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}            
input[type="text"]{
    border-width:6px;
    border-color:rgb(161, 161, 161) ;
    outline:none;
    width: 400px;
    padding: 20px;
    font-size: 20px;
    border-radius: 5px;
}
input[type="button"]
{
    outline: none;
    font-size: 20px;
    padding:10px;
    width:60px;
    border-color: rgb(248, 225, 225);
    border-width: 3px;
    background-color:linear-gradient(to bottom right ,white,rgba(255, 255, 255, 0.555)) ;
    border-radius:5px 2px 5px 2px;
}
input[value="0"]{
    width: 200px;
}
